.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 20px;
  border-radius: 20px;
  background-color: #fff;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.inputGroup > input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.inputGroup > label {
  font-weight: bold;
}

.form > button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
}

.form > button:hover {
  background-color: #eee;
}
